<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>

    <customErrors mode="On" defaultRedirect="500.aspx">
      <error statusCode="404" redirect="Error404.aspx"/>
      <error statusCode ="500" redirect="Error500.aspx"/>
    </customErrors>
  </system.web>
</configuration>

